<head>
  {% include common/meta.html %}
  <link href='{{ site.baseurl }}/assets/stylesheets/slideshow.css' rel="stylesheet" type="text/css">


  {% include common/libraries.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
  <script src="/assets/javascripts/slideshow.js"></script>
</head>

<main class="main-content">
  <section class="slideshow">
    <div class="slideshow-inner">
      <div class="slides">
        <div class="slide is-active ">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Calamba</div>
              <div class="text">
                <p>Resort Capital of the Philippines</p>
              </div>
              <a href="/blog/2018/11/07/Philippines-school/" class="btn">
                <span class="btn-inner">A city in crisis</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/assets/images/philippines/council.jpg" alt="" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Calauan</div>
              <div class="text">
                <p>Proving Filippino resiliancy</p>
              </div>
              <a href="/blog/2018/11/08/Philippines-Calauan/" class="btn">
                <span class="btn-inner">Where the struggle to eat is real</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/assets/images/philippines/players.jpg" alt="" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Revealing Christ's Glory Global Ministry</div>
              <div class="text">
                <p>Called for Action</p>
              </div>
              <a href="https://www.facebook.com/RCGGM.OfficialPage/" class="btn">
                <span class="btn-inner">Making a difference in the lives of the needy</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/assets/images/philippines/rcggm.jpg" alt="" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Partnership</div>
              <div class="text">
                <p>A call to action</p>
              </div>
              <a href="https://crm.beboldstreetministries.org/index.php?q=civicrm/contribute/transact&reset=1&id=4" class="btn">
                <span class="btn-inner">Be a part of the solution</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/assets/images/philippines/reach.jpg" alt="" class="image" />
          </div>
        </div>
      </div>
      <div class="pagination">
        <div class="item is-active">
          <span class="icon">1</span>
        </div>
        <div class="item">
          <span class="icon">2</span>
        </div>
        <div class="item">
          <span class="icon">3</span>
        </div>
        <div class="item">
          <span class="icon">4</span>
        </div>
      </div>
      <div class="arrows">
        <div class="arrow prev">
          <span class="svg svg-arrow-left">
            <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
        <div class="arrow next">
          <span class="svg svg-arrow-right">
            <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
      </div>
    </div>
  </section>
</main>
